Repository kicikhaluk/movies-spa: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn format, yarn stylelint, yarn eslint

build(husky): pre-push hook added
  .husky/pre-commit
  .husky/pre-push
Due: none

chore(release): 0.0.0
  CHANGELOG.md
Due: none

chore(build): buildinfo files deleted
  tsconfig.node.tsbuildinfo
Due: none

chore(build): buildinfo file deleted
  tsconfig.app.tsbuildinfo
Due: none

feat(MovieDetail): movie detail page implemented
  .gitignore
  src/components/common/stack/index.ts
  src/components/common/stack/stack.component.tsx
  src/components/common/stack/stack.module.scss
  src/components/common/typography/header/header.component.tsx
  src/components/common/typography/header/header.module.scss
  src/components/common/typography/header/index.ts
  src/components/common/typography/index.ts
  src/components/common/typography/text/index.ts
  src/components/common/typography/text/text.component.tsx
  src/components/common/typography/text/text.module.scss
  src/components/common/vspacer/index.ts
  src/components/common/vspacer/vspacer.component.tsx
  src/components/common/vspacer/vspacer.module.scss
  src/components/index.ts
  src/components/table/table.component.tsx
  src/views/movie-detail/movie-detail.view.tsx
Due: yarn format, yarn stylelint, yarn eslint

fix(MovieListing): pagination fixed
  src/components/search/search.component.tsx
  src/components/table/table.component.tsx
  src/helpers/getQueryParamsFromSearch.ts
  src/helpers/serializeQueryParams.ts
  src/views/movies/pagination.component.tsx
Due: yarn format, yarn eslint

docs(readme): readme.md file updated
  README.md
Due: none

refactor(search): search comp refactored
  src/components/common/button/button.module.scss
  src/components/common/date-picker/date-picker.component.tsx
  src/components/common/date-picker/date-picker.module.scss
  src/components/common/date-picker/index.ts
  src/components/common/input/index.ts
  src/components/common/input/input.component.tsx
  src/components/common/input/input.module.scss
  src/components/common/select/index.ts
  src/components/common/select/select.component.tsx
  src/components/common/select/select.module.scss
  src/components/index.ts
  src/components/search/search.component.tsx
  src/components/search/search.module.scss
Due: yarn format, yarn stylelint, yarn eslint

feat(MovieListing): icon buttons added for layout and pagination
  src/components/common/button/button.module.scss
  src/components/icons/apps-outline.tsx
  src/components/icons/arrow-back-circle-outline.tsx
  src/components/icons/arrow-forward-circle-outline.tsx
  src/components/icons/index.tsx
  src/components/icons/list-outline.tsx
  src/layout/header/header.layout.tsx
  src/views/movies/movies.module.scss
  src/views/movies/movies.view.tsx
  src/views/movies/pagination.component.tsx
Due: yarn format, yarn stylelint, yarn eslint

fix(icons): svg props inferred
  src/components/icons/apps-outline.tsx
  src/components/icons/arrow-back-circle-outline.tsx
  src/components/icons/arrow-forward-circle-outline.tsx
  src/components/icons/list-outline.tsx
Due: yarn format, yarn eslint

feat(search): preserve query params
  src/components/movie-card/movie-card.component.tsx
  src/components/table/table.component.tsx
  src/layout/header/header.layout.tsx
Due: yarn format, yarn eslint

chore(release): 0.0.1
  CHANGELOG.md
  package.json
Due: none

docs(readme): readme updated
  README.md
Due: none

Path conditions:
  yarn format: (any of: **/*.scss) or (any of: **/*.{ts,tsx})
  yarn stylelint: any of: **/*.scss
  yarn eslint: any of: **/*.{ts,tsx}
